h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.dark-style-docs-20140517 {
  color: '#fff';
}

p {
  color: #fff;
}

li {
  color: #fff;
}

code {
  color: #3f536e;
}

span {
  color: #3f536e;
}

a {
  color: #fff;
}
